<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddc.server.mapper.ColumnsMapper">

    <resultMap id="columns" type="Columns">
        <id property="columnId" column="id" />
        <result property="columnName" column="name" />
        <result property="columnLevel" column="level" />
        <result property="columnFrom" column="from" />
        <result property="columnDeleteFlag" column="del_flag" />
    </resultMap>
    <select id="listAllColumns" resultMap="columns">
    select * from ddc_columns
</select>
    <insert id="insertColumn" parameterType="columns">
    insert into ddc_columns(`name`,`type`,`create_time`,`create_by`)
        value (#{columnName},#{columnType},#{columnCreateTime},#{columnCreator})
</insert>
    <update id="deleteColumn" parameterType="columns">
    update ddc_columns set del_flag = 1
        where id = #{columnId}
</update>

    <select id="searchColumn" resultMap="columns">
    SELECT * FROM ddc_columns
        WHERE NAME LIKE CONCAT('%',#{keyword},'%')
</select>

    <update id="editColumn" parameterType="columns">
    update ddc_columns set name = #{columnName},update_time = #{columnUpdateTime},type = #{columnType}
    where id = #{columnId}
</update>

</mapper>
