<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddc.server.mapper.DDCPictureMapper">
    <resultMap id="pictureMap" type="DDCPicture">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="image" column="image" />
        <result property="moreImage" column="more_image" />
        <result property="sort" column="sort" />
        <result property="tags" column="tags" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
    </resultMap>

    <update id="updateStatus">
        update ddc_picture set status=#{status} where id=#{id};
    </update>

</mapper>