<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clover.common.mapper.RoleToMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clover.common.entity.RoleToMenu">
        <id column="role_to_permissions_id" property="roleToPermissionsId" />
        <result column="role_id" property="roleId" />
        <result column="permissions_id" property="permissionsId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_to_menu_id AS roleToPermissionsId, role_id AS roleId, permissions_id AS permissionsId
    </sql>

</mapper>
